Flask==2.3.3
Flask-CORS==4.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
WTForms==3.0.1
aiohttp==3.8.5
beautifulsoup4==4.12.2
celery==5.3.4
flask-assets==2.0
gunicorn==21.2.0
httpx==0.27.2
markdown
openai==1.8
praw
psycopg2-binary==2.9.9
python-decouple==3.8
python-docx
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
serpapi
SQLAlchemy==2.0.25
tiktoken==0.5.2